# Ignore file for Opencast Matterhorn project
#

# ignore maven target directories
target/
target-grunt/
node_modules/
node/
/build/

# ignore Eclipse project data
.project
.classpath
.metadata/
.settings/
.recommenders/

# ignore NetBeans project data
*/nbproject/*

# Ignore all temporary editor files
*.swp
*.iml
.idea

# Ignore Maven files and local repository
/.m2/
/settings.xml

# Ignore mkdocs sites
docs/guides/*/site

# ignore directory with frontend copy
opencast-backend/annotation-tool/src/main/resources/ui/

# Ignore Makefiles
# Sometimes they help, but they should never be tracked
Makefile
/frontend/www

# Ignore translation file backups
/frontend/locales/**/*_old.json

# Ignore generated frontend documentation
/frontend/doc
frontend/.vscode/launch.json
frontend/package-lock.json
frontend/package-lock.json
