# Ignore file for Opencast Matterhorn project
#

# ignore maven target directories
target/
node_modules/
node/

# ignore Eclipse project data
.project
.classpath
.metadata/
.settings/
.recommenders/

# ignore NetBeans project data
*/nbproject/*

# Ignore all temporary editor files
*.swp
*.iml
.idea

# Ignore directory with frontend build
/frontend/src/main/resources/ui

# Ignore flattened POMs
.flattened-pom.xml
