.stacking-level (@level) {
    .stack-level-@{level} {
        div.timeline-item{
            margin-top: 18px-(@level*23px);
        }
    }
}

.track-max-level (@level) {
    .track-max-level-@{level} {
        height: (@level)*23px;
    }
}


#timeline-container {
	background-color: @white;
	
	.navbar {
		margin: 0;

        span.time-header {
            margin-left: 10px;

            span.time {
                font-size: bold;
                color: white;
            }
        }
	}
}

.item-id, .annotation-id, .group-id, .track-id, .timeline-navigation-new {
   display: none;
} 


i.check{
    visibility: hidden;
}

.checked i.check{
    visibility: visible;
}

div.timeline-frame, div.timeline-groups-axis {
    overflow: visible!important;
}

 
div.timeline-event {
    background-color: rgba(249, 103, 38, 0.6);
    z-index: 2;
}

div.timeline-event-selected {
    background-color: rgba(245, 215, 115, 0.75);
}

div.timeline-groups-text{
    text-transform: capitalize;
    font-size: 1.05em;
    z-index: 1;  
    background-color: white;
    position: absolute;
    width: 2000px;
    top: -6px;
    padding: 0;
    
    div.content{
        padding: 3px;
        text-decoration: none;
    }
    
    div.timeline-group {
    	padding: 4px;
        min-height: 60px;
        z-index: 3;
        
        &.mine:hover{
            cursor: pointer;
            background-color: fade(@yellow, 15%);
        }

        a:hover{
            text-decoration: none!important;
        }
        
        a.content-overlay {
            display: inline-block;
            width: 150px;
        }

        div.content{
        	width: 105px;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: @gray; 

            &:hover {
                text-decoration: none!important;
            }
        }
    }

    &:nth-child(odd){
        // Currently no odd even highlighting
    }
    
    &.selected {
        background-color:  @grayLighter;
        
        div.timeline-group:hover{
            background-color: inherit;
        }
    }
    
    i.delete, i.update {
        z-index: 4;
        margin-right: 4px;
        position: relative;
        display: inline-block;
        
        &:hover {
          .iconHover();
        }
    }

    span.visibility {
        font-size: 9pt;
        z-index: 4;
        margin-top: 5px;
        margin-right: 4px;
        position: relative;
        display: inline-block;
        padding: 0px 2px 0px 2px;
        
        &:hover {
          .iconHover();
        }
    }

    i.private {
        z-index: 4;
        float: left;
        margin-top: 2px;
        margin-right: 0px;
        position: relative;
        border: 2px solid transparent;
    }
   
}

div.timeline-customtime {
    z-index: 6;
    background-color: @red;
    width: 1px;
}

div.timeline-navigation{
    display: block;
    z-index: 4; 
    height: 22px; 
    border: none;
    border-top: 2px solid @grayDark;
    border-bottom: 2px solid @grayDark;
    border-radius: 0;
    background-color: @grayLight;  
    position: relative!important;
    left: 0px!important;
    right: 0px!important;
    top: 0px!important;
    bottom: 0px!important;
    display: none;
  
    > [class^="timeline-navigation-"] {
    	.btn();
    	font-weight: bold;
    }
    
    > [class^="timeline-navigation-"]:hover {
    	.btn.hover();
    }
    
    /* Todo: Should use Icons instead */
    .timeline-navigation-zoom-in:after {
    	content: "+";
    }
    .timeline-navigation-zoom-out:after {
    	content: "-";
    }
    .timeline-navigation-move-left:after {
    	content: "<"
    }
    .timeline-navigation-move-right:after{
    	content: ">"
    }   
               
}

div#timeline-custom-navigation{
    height: 22px; 
    border: none;
    border-top: 2px solid @grayDark;
    border-bottom: 2px solid @grayDark;
    border-radius: 0;
    background-color: @grayLight;  
    position: relative!important;
    font-weight: normal!important;
    left: 0px!important;
    right: 0px!important;
    top: 0px!important;
    bottom: 0px!important;

    .btn {
        font-weight: normal!important;
    }
}

div#reset-zoom, div#move-left, div#move-right, div#zoom-in, div#zoom-out{
    float: left;
}

div.timeline-frame {
	border: none;
	border-top: 1px solid @gray;
	
	> div:first-child{
        z-index: 2;
        border-left: 2px solid @gray;
	}
}

div.timeline-groups-axis{
    
    z-index: 1;
    
    overflow: visible;
    
    .timeline-axis-grid-minor{
        border: none;
        display: none;
    }
}

div.timeline-axis-grid-minor{
    z-index: 2;
}


/* Overlapping version */
div.timeline-event-content {
    overflow: visible;
    margin: 0px;
}

div.timeline-event {
    background: none;
}

div.timeline-event-range {
    margin-top: 28px;
    border: none;
}

div.timeline-navigation-delete{
    display: none;
}


div.timeline-bottom-controls{
    z-index: 50;
    display: block;
    position: relative;
    float: right;   
    &:hover{
        cursor:pointer;
    }
}

.stacking-level(0);
.stacking-level(1);
.stacking-level(2);
.stacking-level(3);
.stacking-level(4);
.stacking-level(5);  

.track-max-level(0);
.track-max-level(1);
.track-max-level(2);
.track-max-level(3);
.track-max-level(4);
.track-max-level(5);


div.timeline-item{
	background-color: fade(@grayLight,25%);
	border: 1px solid transparent;
    padding: 2px;
    overflow: hidden;
    min-width: 20px;
    z-index: 4;
    
    span{
        float: left;
        width: 65%;
        overflow: hidden;
    }

    &.at-end{
        margin-left: -10px;
    }
    
    i.delete{
            float: right;
            display: none;
            
            &:hover{
                cursor: pointer;
                background-color: @blue;
            }
    }
    
    &:hover{
        cursor:pointer;
    }
    
}

div.timeline-event-selected {
    background: none;
    z-index: 2;
    
    div.timeline-item{
        border: 1px solid @red;
        box-shadow: 0 0 2px @grayDark;
    }
}

div.timeline-event-range-drag-left, div.timeline-event-range-drag-left{
    height: 22px!important;
}


div#timeline {
    overflow-x: hidden;
    overflow-y: auto!important;
    min-height: 55px!important;
}

div.timeline-frame > div:first-child > div:first-child {
    background-color: white;
    z-index: 5;
}










