@import "timeline/timeline.css";
.item-id,
.annotation-id,
.group-id,
.track-id,
.timeline-navigation-new {
  display: none;
}
div.timeline-event {
  background-color: rgba(249, 103, 38, 0.6);
  z-index: 3;
}
div.timeline-event-selected {
  background-color: rgba(245, 215, 115, 0.75);
}
div.timeline-groups-text {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.05em;
  z-index: 1;
  background-color: white;
  position: absolute;
  width: 2000px;
  padding: 4px;
  top: -6px;
}
div.timeline-groups-text div.content {
  float: left;
  padding: 3px;
}
div.timeline-groups-text div.timeline-group {
  height: 55px;
  z-index: 3;
}
div.timeline-groups-text div.timeline-group:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
div.timeline-groups-text div.timeline-group div.content {
  width: 122px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.timeline-groups-text:nth-child(odd) {
  background-color: #ffffff;
}
div.timeline-groups-text.selected {
  background-color: #cdcdcd;
}
div.timeline-groups-text.selected div.timeline-group:hover {
  background-color: inherit;
}
div.timeline-groups-text i.delete {
  z-index: 4;
  float: left;
  margin-top: 5px;
  margin-right: 4px;
}
div.timeline-groups-text i.delete:hover {
  cursor: pointer;
  background-color: #F66;
  border-radius: 10px 10px 10px 10px;
}
div.timeline-customtime {
  z-index: 3;
}
div.timeline-navigation {
  z-index: 4;
  height: 45px;
  border-left: 0px;
}
div.timeline-navigation div.timeline-navigation-new,
div.timeline-navigation div.timeline-navigation-delete,
div.timeline-navigation div.timeline-navigation-zoom-in,
div.timeline-navigation div.timeline-navigation-zoom-out,
div.timeline-navigation div.timeline-navigation-move-left,
div.timeline-navigation div.timeline-navigation-move-right {
  height: 22px;
}
div#reset-zoom {
  float: left;
}
div#reset-zoom a.btn {
  color: grey;
}
div.timeline-frame > div:first-child {
  z-index: 2;
  border-left: 2px solid grey;
}
div.timeline-groups-axis {
  z-index: 1;
  overflow: visible;
}
div.timeline-groups-axis .timeline-axis-grid-minor {
  border: none;
  display: none;
}
div.timeline-axis-grid-minor {
  z-index: 2;
}
/* Overlapping version */
div.timeline-event-content {
  overflow: visible;
  margin: 0px;
}
div.timeline-event-selected {
  background: none;
  z-index: 10;
}
div.timeline-event-selected div.timeline-item {
  background-color: rgba(245, 215, 115, 0.75);
}
div.timeline-event {
  background: none;
}
div.timeline-event-range {
  margin-top: 28px;
  border: none;
}
div.timeline-navigation-delete {
  display: none;
}
div.timeline-bottom-controls {
  z-index: 50;
  display: block;
  position: relative;
  float: right;
  padding: 8px;
}
div.timeline-bottom-controls:hover {
  cursor: pointer;
}
div.timeline-item {
  background-color: rgba(249, 103, 38, 0.6);
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
}
div.timeline-item span {
  float: left;
  width: 65%;
  overflow: hidden;
}
div.timeline-item i.delete {
  float: right;
}
div.timeline-item i.delete:hover {
  cursor: pointer;
  background-color: #ff6666;
  border-radius: 10px 10px 10px 10px;
}
div.timeline-item:hover {
  cursor: pointer;
}
