/**
 * Style for the base element of the annotations tool
 */
/**
 * Different style variable that can be use by all variables
 */
.standard_border_radius {
  border-radius: 4px 4px 4px 4px;
}
.window {
  background-color: #F5F5F5;
  border: 1px solid #cdcdcd;
  border-radius: 4px 4px 4px 4px;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 15px #a29d95;
  -moz-box-shadow: inset 0px 0px 15px #a29d95;
  -webkit-box-shadow: inset 0px 0px 15px #a29d95;
  background-size: 100% 100%;
  box-shadow: 0px 0px 5px #d9d2c0;
  -moz-box-shadow: 0px 0px 5px #d9d2c0;
  -webkit-box-shadow: 0px 0px 5px #d9d2c0;
  margin-bottom: 20px;
  overflow: hidden;
  max-height: 40%;
}
.window .window-title {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  display: block;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  line-height: 19px;
}
.window .navbar .nav > li > a {
  padding: 5px 5px 5px 5px;
}
.window .navbar .nav > li > a:hover {
  cursor: pointer;
}
.navbar a#logout {
  display: none;
}
