/*
  Complete stylesheet for the annotations tool
*/
/**
 * Style for the base element of the annotations tool
 */
/**
 * Different style variable that can be use by all variables
 */
.standard_border_radius {
  border-radius: 4px 4px 4px 4px;
}
.window {
  background-color: #F5F5F5;
  border: 1px solid #cdcdcd;
  border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 15px #a29d95;
  -moz-box-shadow: inset 0px 0px 15px #a29d95;
  -webkit-box-shadow: inset 0px 0px 15px #a29d95;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 15px #a29d95;
  -moz-box-shadow: inset 0px 0px 15px #a29d95;
  -webkit-box-shadow: inset 0px 0px 15px #a29d95;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 15px #a29d95;
  -moz-box-shadow: inset 0px 0px 15px #a29d95;
  -webkit-box-shadow: inset 0px 0px 15px #a29d95;
  background-size: 100% 100%;
  box-shadow: 0px 0px 5px #d9d2c0;
  -moz-box-shadow: 0px 0px 5px #d9d2c0;
  -webkit-box-shadow: 0px 0px 5px #d9d2c0;
  background-size: 100% 100%;
  box-shadow: 0px 0px 5px #d9d2c0;
  -moz-box-shadow: 0px 0px 5px #d9d2c0;
  -webkit-box-shadow: 0px 0px 5px #d9d2c0;
  background-size: 100% 100%;
  box-shadow: 0px 0px 5px #d9d2c0;
  -moz-box-shadow: 0px 0px 5px #d9d2c0;
  -webkit-box-shadow: 0px 0px 5px #d9d2c0;
  margin-bottom: 20px;
  overflow: hidden;
  max-height: 40%;
}
.window .window-title {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  display: block;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  line-height: 19px;
}
.window .navbar .nav > li > a {
  padding: 5px 5px 5px 5px;
}
.window .navbar .nav > li > a:hover {
  cursor: pointer;
}
.navbar a#logout {
  display: none;
}
/**
 * Style for annotate view
 */
/**
 * Different style variable that can be use by all variables
 */
.standard_border_radius {
  border-radius: 4px 4px 4px 4px;
}
.edit {
  visibility: hidden;
}
#annotate-form {
  padding: 5px;
}
#annotate-form div {
  padding: 5px;
  text-align: center;
}
#annotate-form .currentTrack {
  text-align: left;
}
#annotate-form .currentTrack span.title {
  font-weight: bold;
}
#annotate-form .insert-fields,
#annotate-form .stop-fields {
  display: inline-block;
}
#annotate-form #input-container {
  width: 100%;
  text-align: left;
}
#annotate-form #input-container #new-annotation {
  width: 68%;
  margin-bottom: -0.5px;
  margin-left: -4px;
  margin-right: -4px;
}
#annotate-form #editSwitch {
  float: right;
  margin-right: 20px;
}
#annotate-container .navbar {
  margin-bottom: 0px;
}
#annotate-container h3 {
  line-height: 18px;
  padding-top: 8px;
  padding-right: 8px;
}
#annotate-container #label-tabs-contents div {
  padding: 0px;
}
#annotate-container #label-tabs-contents div.carousel {
  height: 200px;
}
#annotate-container #label-tabs-contents div.carousel .category-item {
  height: 100%;
}
#annotate-container #label-tabs-contents div.carousel .category-item .catItem-header {
  padding: 5px;
  font-size: 14px;
  background-color: #e3e3e3;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  border-radius: 4px 4px 0px 0px;
  color: white;
}
#annotate-container #label-tabs-contents div.carousel .category-item .catItem-header input {
  width: 80px;
  border: none;
  margin: 0px;
  padding: 1px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: inset -1px 1px 3px #000000;
  font-weight: bold;
  text-overflow: clip;
}
#annotate-container #label-tabs-contents div.carousel .category-item .catItem-header input[disabled] {
  text-overflow: ellipsis;
  box-shadow: none;
  text-shadow: 1px 1px 1px black;
  background: none;
  color: white;
  cursor: default;
}
#annotate-container #label-tabs-contents div.carousel .category-item .catItem-header .colorPicker-picker {
  display: inline-block;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item {
  padding: 3px;
  background-color: #ffffff;
  margin-top: 2px;
  min-height: 16px;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item:nth-child(even) {
  background-color: #ffffff;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item:nth-child(odd) {
  background-color: #e6e6e6;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .item-abbreviation {
  color: black;
  float: left;
  font-weight: bold;
  margin: 0px;
  width: 20px;
  padding: 1px;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .item-abbreviation[disabled] {
  text-overflow: ellipsis;
  box-shadow: none;
  background: none;
  cursor: pointer;
  border: none;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .item-value {
  color: black;
  float: left;
  padding: 3px;
  display: inline-block;
  padding: 1px;
  width: 80px;
  margin: 0px;
  margin-left: 4px;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .item-value[disabled] {
  text-overflow: ellipsis;
  box-shadow: none;
  background: none;
  cursor: pointer;
  border: none;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .item-icon {
  float: right;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item:last-child {
  border-radius: 0px 0px 4px 4px;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item:hover {
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #969696;
  -moz-box-shadow: 0px 0px 4px #969696;
  -webkit-box-shadow: 0px 0px 4px #969696;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #969696;
  -moz-box-shadow: 0px 0px 4px #969696;
  -webkit-box-shadow: 0px 0px 4px #969696;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #969696;
  -moz-box-shadow: 0px 0px 4px #969696;
  -webkit-box-shadow: 0px 0px 4px #969696;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 10px #636363;
  -moz-box-shadow: inset 0px 0px 10px #636363;
  -webkit-box-shadow: inset 0px 0px 10px #636363;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 10px #636363;
  -moz-box-shadow: inset 0px 0px 10px #636363;
  -webkit-box-shadow: inset 0px 0px 10px #636363;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 10px #636363;
  -moz-box-shadow: inset 0px 0px 10px #636363;
  -webkit-box-shadow: inset 0px 0px 10px #636363;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item:hover .scaling {
  display: block;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .scaling {
  display: none;
  width: 100%;
  float: left;
  margin: 0px;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .scaling li {
  list-style: none;
  display: inline-block;
  width: 18px;
  margin: 1px;
  border-radius: 15px;
  background-color: yellow;
  box-shadow: inset 0 0 3px;
  color: #D57E0F;
  text-shadow: 0 0 2px orange;
  font-weight: bold padding: 2px;
  font-weight: bold;
  font-size: 0.90em;
  font-weight: bold;
  padding: 0px 2px 0px 2px;
  border: 2px solid orange;
  width: 16px;
  display: inline-block;
  text-align: center;
}
#annotate-container #label-tabs-contents div.carousel .category-item .label-item .scaling li:hover {
  cursor: pointer;
  color: white;
  background-color: #b37300;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #996300;
  -moz-box-shadow: 0px 0px 4px #996300;
  -webkit-box-shadow: 0px 0px 4px #996300;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #996300;
  -moz-box-shadow: 0px 0px 4px #996300;
  -webkit-box-shadow: 0px 0px 4px #996300;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #996300;
  -moz-box-shadow: 0px 0px 4px #996300;
  -webkit-box-shadow: 0px 0px 4px #996300;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 10px #664200;
  -moz-box-shadow: inset 0px 0px 10px #664200;
  -webkit-box-shadow: inset 0px 0px 10px #664200;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 10px #664200;
  -moz-box-shadow: inset 0px 0px 10px #664200;
  -webkit-box-shadow: inset 0px 0px 10px #664200;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 10px #664200;
  -moz-box-shadow: inset 0px 0px 10px #664200;
  -webkit-box-shadow: inset 0px 0px 10px #664200;
}
#annotate-container #label-tabs-contents div.carousel .category-item .catItem-labels {
  max-height: 150px;
  overflow: auto;
}
#annotate-container #label-tabs-contents div div.pagination {
  margin: 10px;
  height: 0px;
}
#annotate-container #label-tabs-contents div div.pagination a {
  line-height: 24px;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .catItem-add {
  margin-top: 2px;
  padding: 5px;
  text-align: left;
  border-radius: 4px 4px;
  display: block;
  border-radius: 0px 0px 4px 4px;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .catItem-add i {
  margin-right: 3px;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .catItem-add:hover {
  cursor: pointer;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .label-item {
  height: 22px;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .label-item:hover {
  cursor: default;
  background-color: #ffffff;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .label-item:hover .scaling {
  display: none;
}
#annotate-container.edit-on #label-tabs-contents div.carousel .category-item .label-item:last-child {
  border-radius: 0px;
}
#annotate-container.edit-on .edit {
  visibility: visible;
}
#annotate-container.edit-on i.edit {
  border-radius: 2px;
  background-color: white;
  border: 1px solid white;
  margin-left: 5px;
  float: right;
}
#annotate-container.edit-on i.edit:hover {
  background-color: #CACACA;
  cursor: pointer;
}
#annotate-container.edit-on .nav i.edit {
  float: none;
}
.notrack {
  color: red;
  font-weight: bold;
}
/**
 * Style for annotations list
 */
/**
 * Different style variable that can be use by all variables
 */
.standard_border_radius {
  border-radius: 4px 4px 4px 4px;
}
/* dark grey */
#list-container {
  overflow: auto;
}
#list-container a.proxy-anchor {
  display: none;
}
#list-container div.annotation {
  border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-color: #e3e3e3;
  margin: 5px;
  padding: 5px;
}
#list-container div.annotation:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 12px black;
}
#list-container div.annotation i.delete {
  float: right;
}
#list-container div.annotation i:hover {
  cursor: pointer;
  background-color: #8dbbde;
}
#list-container div.annotation .start,
#list-container div.annotation .duration {
  cursor: default;
  border-radius: 3px 3px 3px 3px;
  background-color: #a9a9a9;
  padding: 2px;
  margin: 1px;
  color: white;
  font-family: monospace;
  /*border: 1px solid darken(@color1, 30%);*/

  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #a9a9a9;
  -moz-box-shadow: 0px 0px 4px #a9a9a9;
  -webkit-box-shadow: 0px 0px 4px #a9a9a9;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #a9a9a9;
  -moz-box-shadow: 0px 0px 4px #a9a9a9;
  -webkit-box-shadow: 0px 0px 4px #a9a9a9;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #a9a9a9;
  -moz-box-shadow: 0px 0px 4px #a9a9a9;
  -webkit-box-shadow: 0px 0px 4px #a9a9a9;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 4px #767676;
  -moz-box-shadow: inset 0px 0px 4px #767676;
  -webkit-box-shadow: inset 0px 0px 4px #767676;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 4px #767676;
  -moz-box-shadow: inset 0px 0px 4px #767676;
  -webkit-box-shadow: inset 0px 0px 4px #767676;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 4px #767676;
  -moz-box-shadow: inset 0px 0px 4px #767676;
  -webkit-box-shadow: inset 0px 0px 4px #767676;
}
#list-container div.annotation .collapse i {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}
#list-container div.annotation span.text {
  display: block;
  margin: 5px 2px 2px 2px;
  padding: 4px;
  border-radius: 3px 3px 3px 3px;
  background-color: white;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #a9a9a9;
  -moz-box-shadow: 0px 0px 4px #a9a9a9;
  -webkit-box-shadow: 0px 0px 4px #a9a9a9;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #a9a9a9;
  -moz-box-shadow: 0px 0px 4px #a9a9a9;
  -webkit-box-shadow: 0px 0px 4px #a9a9a9;
  background-size: 100% 100%;
  box-shadow: 0px 0px 4px #a9a9a9;
  -moz-box-shadow: 0px 0px 4px #a9a9a9;
  -webkit-box-shadow: 0px 0px 4px #a9a9a9;
}
#list-container div.annotation span.category {
  border-radius: 3px 3px 3px 3px;
  background-color: orange;
  color: white;
  padding: 2px;
  font-size: 0.90em;
}
#list-container div.annotation span.scaling {
  border-radius: 15px;
  background-color: yellow;
  box-shadow: inset 0 0 3px;
  color: #D57E0F;
  text-shadow: 0 0 2px orange;
  font-weight: bold padding: 2px;
  font-weight: bold;
  font-size: 0.90em;
  font-weight: bold;
  padding: 0px 2px 0px 2px;
  border: 2px solid orange;
  width: 16px;
  display: inline-block;
  text-align: center;
}
#list-container div.annotation span.track {
  border-radius: 3px 3px 3px 3px;
  background-color: #0099e6;
  color: white;
  padding: 3px;
  font-size: 0.90em;
}
#list-container div.annotation span.user {
  font-style: italic;
  font-weight: bold;
}
#list-container div.annotation.selected {
  background-color: #8f8f8f;
}
