<td>
    <input type="text" value="{{name}}" required class="name">
</td>
<td>
    <input type="number" step="any" value="{{value}}" required class="input-mini value">
</td>
<td>
    <button type="button" class="btn add">
        <i class="icon-plus"></i>
    </button>
    <button type="button" class="btn remove">
        <i class="icon-minus"></i>
    </button>
    <button type="button" class="btn move-up">
        <i class="icon-arrow-up"></i>
    </button>
    <button type="button" class="btn move-down">
        <i class="icon-arrow-down"></i>
    </button>
</td>