<table>
    <thead>
        <tr>
            <th class="required">{{t "scale modal.scale value.name"}}</th>
            <th class="required">{{t "scale modal.scale value.value"}}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>