{{! TODO margin}}
<td><input type="text" class="value" value="{{value}}" required></td>
<td><input type="text" class="abbreviation input-mini" maxlength="3" value="{{abbreviation}}" required></td>
{{! TODO Alignment}}
<td>
    <button class="btn remove" type="button">
        <i class="icon-trash"></i>
    </button>
</td>
