<div class="title">Comments</div>
<div id="comment-list{{id}}" class="comment-list"></div>
{{#if addState}}
<div class="comment-header">
    <textarea class="input-block-level focused create" id="focusedInput" placeholder="Write a comment for this annotation."></textarea>
    <div class="button-bar">
        <button type="button" class="btn cancel-comment">Cancel</button>
        <button type="submit" class="btn btn-primary add-comment">Insert</button>
    </div>
</div>
{{/if}}
