/**
 * Style for annotations list
 */

// @import "../bootstrap/less/variables.less";
// @import "../bootstrap/less/mixins.less";
// @import "../bootstrap/less/sprites.less";
// @import "variables.less";
// @import "base_style.less";


#list-container {

    @min-height: 300px;
    @content-padding: 5px;

    .iconStateSelected(@color1: fade(@black, 20%), @color2: fade(@blue, 70%), @cursor: pointer, @radius: 3px) {
        background-color: @color1;
        box-shadow: 0 0 1px @color2 inset;
        border-radius: @radius;
        cursor: @cursor;
    }

    .navbar .dropdown {
        visibility: hidden;
    }

    &.expanded {
        //min-height: @min-height;
        .navbar .dropdown {
            visibility: visible;
        }
    }

    div.collapse {
        display: none;
    }

    #content-list-scroll {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: black;
    }

    #content-list {
        background-color: #4b4b4b;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 55px;
        width: 100%;
    }

    i.check {
        visibility: hidden;
    }

    .checked i.check {
        visibility: visible;
    }

    div.annotation {
        @headerHeight: 16px;
        @headerPadding: 2px;
        @headerSumHeight: @headerHeight + (2 * @headerPadding);

        .selectable-annotation();

        > div:first-child {
            /* Layout of headerbar*/
            height: @headerSumHeight;
            line-height: @headerSumHeight;
        }

        border-left: 1px solid @gray;
        border-right: 1px solid @gray;
        border-top: 1px solid @gray;

        margin: 0;
        padding: 0 5px;
        background-color: @grayLighter;

        .creator {
            display: none;
        }

        &.first-child {
            border-top: none;
        }

        &.active {
            tr:first-child {
                background-color: darken(@grayLighter, 10%);
            }
            .active-annotation();
        }

        &.selected {
            .selected-annotation();
        }

        .right {
            float: right;
            width: 30%;
            height: @headerSumHeight;
            text-align: right;
        }

        .left {
            float: left;
            overflow: hidden;
            width: 68%;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: @headerSumHeight;
        }

        button {
            height: @headerSumHeight;
            border: 1px solid @btnBorder;
            vertical-align: top;
            line-height: @headerHeight;
            white-space: nowrap;
            &.collapse {
                .link-button();
            }
            padding: @headerPadding;
        }

        a.btn {
            height: @headerSumHeight;
            box-sizing: border-box;
            border-radius: 0;
        }

        /* Content Elements in headerbar*/

        .read-only {
            display: inline-block;
        }

        .comment-amount {
            float: right;
            font-size: 9px;
            line-height: 10px;
            text-align: center;
            width: 15px;
            font-style :normal;
        }

        .add-comment {
            .icon-comment-amount, .icon-comment {
                .iconStateSelected();
            }
        }

        .edit-annotation {
            margin: 1px 0 0;

            i.toggle-edit, i.toggle-edit:hover {
                .iconStateSelected();
            }
        }

        i {
            &.delete, &.toggle-edit {
                visibility: visible;
            }

            //Highlight clickable icons on mouseover
            // TODO Why not use `i` as selector here or add another `clickable` class or use `a i` as selector?
            &.icon-chevron-down,
            &.icon-chevron-right,
            &.icon-trash,
            &.icon-pencil,
            &.icon-comment,
            &.icon-comment-amount {
                &:hover {
                    .iconHover();
                }
            }
        }

        .start,.end {
            display: inline-block;
            position: relative;

            &.no-duration {
                display: none;
            }

            &.read-only {
                width: 65px;
                position: relative;
                z-index: 300;
                margin: 0;
                padding: 0;
                box-shadow: none;
                text-align: center;
                font-family: monospace;
                background: transparent;
                z-index: 100;
                border: none;
            }

            input {
                width: 65px;
                border: none;
                position: relative;
                z-index: 300;
                margin: 0;
                padding: 0;
                box-shadow: none;
                text-align: center;
                font-family: monospace;
                background: @white;

                &.error {
                    color: @red;
                    font-weight: bold;
                }
            }

            .start-btn, .end-button {
                position: absolute;
                left: 0%;
                right: 0%;
                top: 0;
                z-index: 150;
                width: 65px;
                height: @headerHeight;
            }
        }

        span.scaling {

            select {
                width: 60px;
                height: @headerSumHeight;
                padding: @headerPadding;
                margin: 0;
                font-size: 0.85em;
                color: @white;
                background-color: @black;
                border: none;
                vertical-align:top;
            }

            span {
                background-color: @black;
                color: @white;
                height: @headerHeight;
                padding: @headerPadding;
                font-weight: bold;
                min-width: @headerHeight;
                max-width: 4*@headerHeight;
                text-overflow: ellipsis;
                overflow:hidden;
                font-size: 0.9em;
                display: inline-block;
                text-align: center;
                vertical-align: top;
            }
        }

        span.category {
            span.abbreviation {
                font-weight: bold;
            }

            span.category-name {
                display: none;
            }
        }

        /* Content elements in body*/
        span.text {
            display: block;
            padding: @content-padding;
            background-color: white;
            word-wrap: break-word;
        }

        span.freetext {
            textarea {
                width: 97.5%;
                resize: vertical;
            }
        }

        div.creator-info {
            padding: @content-padding;
            font-size: 10px;
            width: 100%;
            display: inline-block;

            span.user, span.created, span.track {
                font-style: italic;
            }
        }

        .content-items {
            border-top: 1px solid #ccc;
            margin-left: 5px;
            margin-top: 10px;
            padding-top: 10px;
            & > div {
                margin-bottom: 6px;
            }
        }

        .content-item:not(.open) {
            span.icons i:nth-child(1) {
                display: none;
            }
            div.well {
                display: none;
            }
        }

        .content-item.open {
            span.icons i:nth-child(2) {
                display: none;
            }
        }

        .content-item header {
            line-height: 25px;
        }

        .title-short {
            line-height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            position: relative;
            top: 2px;
            width: 60%; // Mobile

            br {
                content: ""
            }

            br:after {
                content: "\00a0"
            }
        }

        .content-item .actions {
            float: right;
            margin-right: 0.5em;

            i {
                margin-left: 8px;
            }
        }
    }

    .button-bar {
        text-align: right;
        button {
            margin-bottom: 5px;
        }
    }

    div.comments {
        div.title {
            background-color: @grayLight;
            padding: 2px;
        }
        padding-bottom: 2px;
    }

    div.comments-container {
        color: @black;
        clear: both;

        textarea {
            resize: vertical;
        }

        .comment-header {

            padding: 2px;

            span.add-comment {
                line-height: 16px;
                min-height: 16px;
                display: block;
                text-align:right;
                margin-right: 10px;

                a.add-comment {
                    color: @grayDark;
                }
            }
        }

        .comment-list {

            font-size: 0.92em;

            > div[id^="comment"] {
                padding-left: @content-padding;
                margin-bottom: @content-padding;

                span.header {
                    display: block;
                    font-size: 1em;

                    .username {
                        color: @black;
                        font-weight: bold;
                    }
                    .date {
                        color: #707070;
                    }
                }
                span.text {
                    background-color: transparent;
                    margin: 0;
                }
            }
        }

        &.collapse {
            padding: 0px;
        }

        .edit-buttons {
            i {
                margin-left: 5px;
                float: right;
            }
        }
    }
}

.label-chooser {
    a.btn {
        line-height: 24px;
        margin: 12px 8px;
        padding: 0;

        &:not(.btn-primary) {
            background-image: none;
        }

        span {
            background-color: rgba(255,255,255,0.6);
            display: inline-block;
            padding: 4px 12px;
        }

        &:hover span {
            background-color: rgba(255,255,255,0.4);
        }
    }
}

.scale-chooser {
    border-collapse: separate;
    border-spacing: 8px 24px;

    th {
        font-size: 1.2em;
        padding-left: 1em;
        padding-right: 1em;
    }

    a.btn {
        line-height: 24px;
        span {
            padding: 4px 12px;
        }
    }
}

.replies {
    background-color: rgba(0, 0, 0, 0.1);
}
