{{#each this}}
	<div class="category-legend print">
		<div>
			<span class="name">{{this.name}}</span>
			{{#if this.scale}}
			<span class="scale"> - rating-scale {{this.scale.name}}: {{#each this.scale.scaleValues}}<span class="scale-value">{{this.name}} ({{this.value}})</span>{{/each}}</span>
			{{/if}}
		</div>

		{{#each this.labels}}
		<div class="label">
			<span class="abbreviation">{{this.abbreviation}}</span>
			<span class="value">{{this.value}}</span>
		</div>
		{{/each}}
	</div>
{{/each}}