<div class="modal-dialog">
    <div class="modal-header">
        <h4 class="modal-title">Annotating Academic Video</h4>
    </div>
    <div class="modal-body">
        Version {{version}}
    </div>
    <div class="modal-footer">
        <button id="close-about" type="button" class="btn tbn-primary">Close</button>
    </div>
</div>
