<div class="modal-body">
    <div class="alert {{#if severity}}alert-{{severity}}{{/if}} alert-block">
        <h4>{{t title}}</h4>
        {{message}}
    </div>
</div>
{{#unless hideButtons}}
    <div class="modal-footer">
        <button type="button" class="btn btn-primary confirm-alert">{{t "alert.ok"}}</button>
    </div>
{{/unless}}
