<div class="catItem-header" {{#if settings.color}}style="background-color:{{settings.color}}"{{/if}} title="{{name}}">
    <input type="text" value="{{name}}" disabled>
    <i
        class="{{#if visible}}icon-eye-open{{else}}icon-eye-close{{/if}} visibility"
        title="{{#if visible}}{{t "annotate.hide category"}}{{else}}{{t "annotate.show category"}}{{/if}}"
    ></i>
    {{#if canEdit}}
        <div class="dropdown">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li><button type="button" class="edit">{{t "annotate.edit category"}}</button></li>
                <li><button type="button" class="delete">{{t "annotate.delete category"}}</button></li>
            </ul>
        </div>
    {{/if}}
</div>
<div class="catItem-labels" {{#if settings.color}}style="background-color:{{settings.color}}"{{/if}}></div>
