<div class="control-group{{#if validationErrors.start}} error{{/if}}">
    <label class="control-label">{{t "annotation.edit.start time"}}</label>
    <div class="controls">
            {{> editTimestamp flavor="start" timestamp=(time startTime)}}
    </div>
</div>

<div class="control-group{{#if validationErrors.end}} error{{/if}}">
    <label class="control-label">{{t "annotation.edit.end time"}}</label>
    <div class="controls">
            {{> editTimestamp flavor="end" timestamp=(time endTime)}}
    </div>
</div>

{{#*inline "editTimestamp"}}
<input title="{{t "questionnaire.help timestamp"}}" class="{{flavor}}-value"
    type="text"
    value="{{timestamp}}"
    pattern="(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)"
    required
>
{{#ifeq flavor "end"}}
	<i class="convert-type btn-icon icon-asterisk" title="{{t "annotation.edit.type point"}}"></i>
{{/ifeq}}
<span class="error-msg help-block"></span>
{{/inline}}
