<li class="tab-button">
    {{! TODO This should not be an `a`, and it should use the Bootstrap stuff}}
    <a data-toggle="tab" data-tabid="{{id}}" data-target="#labelTab-{{id}}">
        {{name}}
        <i class='icon-upload import edit' title="{{t "annotate.upload categories"}}"></i>
        <input class="file" type="file" id="file-{{id}}">
        <i class='icon-download export edit' title="{{t "annotate.download categories"}}"></i>
        <i class='icon-plus-sign add edit'></i>
        {{#if showDropdown}}
        <i class="dropdown">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            <i class="caret"></i>
          </button>
          <ul class="dropdown-menu">
            <li><button type="button" class="new-category-{{id}}">{{t "annotate.create category"}}</button></li>
          </ul>
        </i>
        {{/if}}
    </a>
</li>
