<li class="tab-button">
    {{! TODO This should not be an `a`, and it should use the Bootstrap stuff}}
    <a data-toggle="tab" data-tabid="{{id}}" data-target="#labelTab-{{id}}">
        {{name}}
        <i class='icon-download export' title="{{t "annotate.download categories"}}"></i>
    </a>
</li>
