<div class="window expanded" id="annotate-container">

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <span>
                <span class="window-title">{{t "annotate on"}}</span>
                <span class='currentTrack'>
                    <span class="content">{{t "annotate.no selected track"}}</span>
                </span>
            </span>
            <ul class="nav pull-right">
                <li id="toggle-free-text"></li>
            </ul>
        </div>
    </div>

    <div class="no-track">{{t "annotate.select track prompt"}}</div>

    <div class="control-group" id="annotate-form">

        <div id="input-container" class="insert-fields">
            <textarea
                id="new-annotation"
                placeholder="{{t "annotate.new.placeholder"}}"
                title="{{t "annotate.new.title"}}"
                rows="3"
            ></textarea>
            <button id="insert" type="button" class="btn">{{t "annotate.insert"}}</button>
        </div>

        <div id="categories">
            <h5 id="structured-annotations-header">{{t "annotate.structured annotations"}}</h5>
            <ul class="nav nav-tabs" id="label-tabs-buttons">
            </ul>
            <div class="tab-content" id="label-tabs-contents"></div>
        </div>
        <fieldset class="stop-fields">
            <legend>{{t "annotate.pause.legend"}}</legend>
            <label class="checkbox inline">
                <input id="pause-video-freetext" type="checkbox" checked> <span>{{t "annotate.pause.freetext"}}</span>
            </label><br>
            <label class="checkbox inline">
                <input id="pause-video-structured" type="checkbox"> <span>{{t "annotate.pause.structured"}}</span>
            </label>
        </fieldset>
    </div>
</div>
