<span class="item-abbreviation label-style" title="{{value}}"><b>{{abbreviation}}</b> {{value}}</span>
<span class="item-icon">{{icon}}</span>
<ul class="scaling">
    {{#each scaleValues}}
        <li data-id="{{data id}}" title="{{name}}">{{this.name}}</li>
    {{/each}}
</ul>
