<button class="btn-nav" type="button">
    {{#if freeTextVisible}}
        {{t "annotate.hide free text"}}
        <i class="icon-white icon-eye-open" title="{{t "annotate.hide freetext"}}"></i>
    {{else}}
        {{t "annotate.show free text"}}
        <i class="icon-white icon-eye-close" title="{{t "annotate.show freetext"}}"></i>
    {{/if}}
</button>
