<div class="catItem-header" {{#if settings.color}}style="background-color:{{settings.color}}"{{/if}} title="{{name}}">
    <input type="text" value="{{name}}" {{#if notEdit}}disabled='disabled'{{/if}}/>
    <i class="{{#if visible}}icon-eye-open{{else}}icon-eye-close{{/if}} visibility" title="{{#if visible}}{{t "annotate.hide category"}}{{else}}{{t "annotate.show category"}}{{/if}}"></i>
    <i class="icon-pencil scale edit" title="{{t "annotate.edit category scaling"}}"></i>
    <i class="icon-trash delete edit"></i>
    {{#if settings.createdAsMine}}
    <i class="icon-public sharedVis edit" data-sharedVis='public'></i>
    <i class="icon-private sharedVis edit" data-sharedVis='private'></i>
    <i class="icon-shared-with-admin sharedVis edit" data-sharedVis='shared-with-admin'></i>
    {{/if}}
    <div class="colorpicker">
        <input id="color-{{name}}" type="text" class="colorpicker edit" value="{{#if settings}}{{settings.color}}{{/if}}" /></div>
    </div>
</div>
<div class="catItem-labels" {{#if settings.color}}style="background-color:{{settings.color}}"{{/if}}></div>
<div class="catItem-add edit"><i class="icon-plus-sign"></i>{{t "annotate.create a label"}}</div>
