<!-- Carousel nav -->
<div class="controls">
	<div class="pagination pagination-centered" style="display:none">
	<ul>
		<li><button type="button" id="carousel-prev">&lt;</button></li>
		<li><button type="button" id="carousel-next">&gt;</button></li>
	</ul>
	</div>
</div>


<div id="{{id}}" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner"></div>
</div>
