<!-- Carousel nav -->
<div class="controls">
	<div class="pagination pagination-centered" style="display:none">
	<ul>
		<li><button type="button" id="carousel-prev">&lt;</button></li>
		{{> pagination-bullet number=1}}
		<li><button type="button" id="carousel-next">&gt;</button></li>
	</ul>
	</div>
</div>

<div class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner {{> read-only}}">
		{{> carousel-item}}
	</div>
</div>
