<span class="comments header">
	<span class="caption print">Comment</span>
	<span class="username">{{creator}}</span>
	<span class="date">{{formatDate creationdate}}{{#if updateddate}} | {{t "annotation.comments.modified" date=(formatDate updateddate)}}{{/if}}</span>
</span>
<div class="edit-buttons">
	{{#if canEdit}}
		<i class="edit-comment icon-pencil" title="{{t "annotation.comments.edit.button"}}"></i>
		<i class="delete-comment icon-trash" title="{{t "annotation.comments.delete"}}"></i>
	{{/if}}
</div>
<span class="comment">{{{text}}}</span>

<ul class="replies">
	{{#each replies}}
		{{{this}}}
	{{/each}}
</ul>
