<span class="comments header">
	<span class="caption print">Comment</span>
	<span class="username">{{creator}}</span>
	<span class="date">{{formatDate creationdate}}{{#if updateddate}} | {{t "annotation.comments.modified" date=(formatDate updateddate)}}{{/if}}</span>
</span>
{{#if canEdit}}<i class="delete-comment icon-trash" title="{{t "annotation.comments.delete"}}"></i>{{/if}}
{{#if canEdit}}<i class="edit-comment icon-pencil" title="{{t "annotation.comments.edit.button"}}"></i>{{/if}}
<span class="comment">{{{text}}}</span>
