<div class="content-item" data-position="{{@index}}">
    {{#> content-item-header annotation=annotation}}
        <b>{{t "annotation.types.free text"}}</b>
    {{/content-item-header}}
    <div class="well">{{displayRaw value}}</div>
</div>
