<textarea class="input-block-level focused">{{text}}</textarea>
<div class="button-bar">
	<button type="button" class="btn">{{t "annotation.comments.edit.cancel"}}</button>
	<button type="submit" class="btn btn-primary">{{t "annotation.comments.edit.save"}}</button>
</div>

<ul>
    {{#each replies}}
        {{{this}}}
    {{/each}}
</ul>
