<div class="{{state}}">
    <div class="left">
        <button type="button" class="collapse" title="collapse">
            <i class="icon-chevron-down"></i>
        </button>

        <span class="start read-only">
            {{time start}}
        </span>

        <span class="
            end
            {{#if duration}}
                has-duration
            {{else}}
                no-duration
            {{/if}}
            read-only
        ">
            {{time end}}
        </span>

        {{#if isMine}}
            <i
                class="private icon-user"
                title="{{t "annotation.you own"}}"
            ></i>
        {{/if}}
    </div>

    <div class="right">
        {{#if isMine}}
            {{#if createdFromQuestionnaire}}
                  <i
                     class="toggle-edit icon-pencil me-2"
                     title="{{t "annotation.edit.edit"}}"
                  ></i>
            {{else}}
                 <i
                    class="toggle-edit icon-time me-2"
                    title="{{t "annotation.edit.edit"}}"
                 ></i>
            {{/if}}
        {{/if}}

        <i
            class="{{#if numberOfComments}}
                icon-comment-amount me-1
            {{else}}
                icon-comment me-1
            {{/if}}"
            title="{{t "annotation.comments.count" count=numberOfComments}}"
        >
            {{#if numberOfComments}}
                <span class="comment-amount">
                    {{numberOfComments}}
                </span>
            {{/if}}
        </i>

        {{#if isMine}}
            <i
                class="delete icon-trash"
                title="{{t "annotation.edit.delete"}}"
            ></i>
        {{/if}}
    </div>
</div>

<div id="text-container{{id}}" class="text-container">
    <div class="creator-info">
        {{t "annotation.author"}}
        <span class="user">{{created_by_nickname}}</span>
        {{t "annotation.created"}}
        <span class="created">{{formatDate created_at}}</span>
        {{t "annotation.track"}}
        <span class="track">{{track}}</span>
    </div>

    <div id="accordion-container-{{id}}" class="accordion content-items">
        {{#each content}}
            {{> (lookup . 'type') annotation=..}}
        {{/each}}
    </div>

    {{#if isMine}}
        {{#unless createdFromQuestionnaire}}
            <div>
                <span>{{t "annotation.add content.list prompt"}}</span>
                <button class="btn add-free-text-content" type="button">
                    {{t "annotation.add content.free text"}}
                </button>

                {{#each categories}}
                         {{#unless deleted_at}}
                              {{#if isPublic}}
                                  <button class="btn add-labelled-content" type="button" data-category="{{id}}" {{#if settings.color}}style="background-color:{{settings.color}};background-image: none;"{{/if}}>
                                      {{t "annotation.add content.category"}} {{name}}
                                  </button>
                              {{else if isMine}}
                                  <button class="btn add-labelled-content" type="button" data-category="{{id}}" {{#if settings.color}}style="background-color:{{settings.color}};background-image: none;"{{/if}}>
                                          {{t "annotation.add content.category"}} {{name}}
                                  </button>
                              {{/if}}
                          {{/unless}}
                {{/each}}

            </div>
        {{/unless}}
    {{/if}}
</div>

<div class="comments"></div>
