<div>
    <div class="left">
        <button type="button" class="collapse" title="collapse">
            <i class="icon-chevron-right"></i>
        </button>

        <span class="start read-only">
            {{time start}}
        </span>

        <span class="
            end
            {{#if duration}}
                has-duration
            {{else}}
                no-duration
            {{/if}}
            read-only"
        >
            {{time end}}
        </span>

        {{#if isMine}}
            <i
                class="private icon-user"
                title="{{t "annotation.you own"}}"
            ></i>
        {{/if}}

        {{#if scalevalue}}
            <span class="scaling">
                {{#if scalevalue}}
                    <span
                        class="read-only"
                        title="{{scalevalue.name}}"
                    >{{scalevalue.name}}</span>
                {{/if}}
            </span>
        {{/if}}

        <span
            class="category"
            {{#if label}}
                title="{{label.category.name}} - {{label.value}} ({{label.abbreviation}})"
            {{/if}}
        >
            {{#if label}}
                <span class="abbreviation">
                    {{label.abbreviation}}
                </span>
                <span class="label-value print">
                    {{label.value}}
                </span>
                {{#if scalevalue}}
                    <span class="scalevalue print">
                        {{scalevalue.name}} ({{scalevalue.value}})
                    </span>
                {{/if}}
            {{else}}
                <span class="no-label">{{text}}</span>
            {{/if}}
        </span>
    </div>

    <div class="right">
        {{#if isMine}}
            <i
                class="delete icon-trash"
                title="{{t "annotation.edit.delete"}}"
            ></i>
            <i
                class="toggle-edit icon-pencil"
                title="{{t "annotation.edit.edit"}}"
            ></i>
        {{/if}}

        <i
            class="{{#if numberOfComments}}
                icon-comment-amount
            {{else}}
                icon-comment
            {{/if}}"
            title="{{t "annotation.comments.count" count=numberOfComments}}"
        >
            {{#if numberOfComments}}
                <span class="comment-amount">{{numberOfComments}}</span>
            {{/if}}
        </i>
    </div>
</div>
