<div>
    <div class="left">
        <button type="button" class="collapse" title="collapse">
            <i class="icon-chevron-right"></i>
        </button>

        <span class="start read-only">
            {{time start}}
        </span>

        <span class="
            end
            {{#if duration}}
                has-duration
            {{else}}
                no-duration
            {{/if}}
            read-only"
        >
            {{time end}}
        </span>

        {{#if isMine}}
            <i
                class="private icon-user"
                title="{{t "annotation.you own"}}"
            ></i>
        {{/if}}

        {{> category}}
    </div>

    <div class="right">
        {{#if isMine}}
            <i
                class="delete icon-trash me-2"
                title="{{t "annotation.edit.delete"}}"
            ></i>

            {{#if createdFromQuestionnaire}}
                  <i
                     class="toggle-edit icon-pencil me-2"
                     title="{{t "annotation.edit.edit"}}"
                  ></i>
            {{else}}
                 <i
                    class="toggle-edit icon-time me-2"
                    title="{{t "annotation.edit.edit"}}"
                 ></i>
            {{/if}}
        {{/if}}

        <i
            class="{{#if numberOfComments}}
                icon-comment-amount
            {{else}}
                icon-comment
            {{/if}}"
            title="{{t "annotation.comments.count" count=numberOfComments}}"
        >
            {{#if numberOfComments}}
                <span class="comment-amount">{{numberOfComments}}</span>
            {{/if}}
        </i>
    </div>
</div>
