<div class="{{state}}">
    <div class="left">
        <button type="button" class="collapse" title="collapse">
            <i class="icon-chevron-down"></i>
        </button>

        <button
            class="btn in"
            title="{{t "annotation.edit.set start to playhead.long"}}"
        >{{t "annotation.edit.set start to playhead.short"}}</button>
        <span class="start">
            <input
                title="{{t "annotation.edit.start time"}}{{#if isMine}} ({{t "annotation.edit.double click to edit"}}){{/if}}"
                id="start-{{id}}"
                class="start-value"
                type="text"
                value="{{time start}}"
            ></input>
        </span>

        <span class="
            end
            {{#if duration}}
                has-duration
            {{else}}
                no-duration
            {{/if}}
        ">
            <input
                title="{{t "annotation.edit.end time"}}{{#if isMine}} ({{t "annotation.edit.double click to edit"}}){{/if}}"
                id="end-{{id}}"
                class="end-value"
                type="text"
                value="{{time end}}"
            ></input>
        </span>
        <button
            class="btn out"
            title="{{t "annotation.edit.set end to playhead.long"}}"
        >{{t "annotation.edit.set end to playhead.short"}}</button>

        <button
            class="btn type-point"
            title="{{t "annotation.edit.type point"}}"
        ><i class="icon-asterisk"></i></button>

        {{#if isMine}}
            <i
                class="private icon-user"
                title="{{t "annotation.you own"}}"
            ></i>
        {{/if}}
    </div>

    <div class="right">
        {{#if isMine}}
            <i
                class="toggle-edit icon-time me-2"
                title="{{t "annotation.edit.edit"}}"
            ></i>
        {{/if}}

        <i
            class="{{#if numberOfComments}}
                icon-comment-amount
            {{else}}
                icon-comment
            {{/if}}"
            title="{{t "annotation.comments.count" count=numberOfComments}}"
        >
            {{#if numberOfComments}}
                <span class="comment-amount">
                    {{numberOfComments}}
                </span>
            {{/if}}
        </i>

        {{#if isMine}}
            <i
                class="delete icon-trash"
                title="{{t "annotation.edit.delete"}}"
            ></i>
        {{/if}}
    </div>
</div>

<div id="text-container{{id}}" class="text-container">
    <div class="creator-info">
        {{t "annotation.author"}}
        <span class="user">{{created_by_nickname}}</span>
        {{t "annotation.created"}}
        <span class="created">{{formatDate created_at}}</span>
        {{t "annotation.track"}}
        <span class="track">{{track}}</span>
    </div>

    <div id="accordion-container-{{id}}" class="accordion content-items">
        {{#each content}}
            {{> (lookup . 'type') annotation=..}}
        {{/each}}
    </div>

    {{#if isMine}}
        {{#unless createdFromQuestionnaire}}
            <div>
                <button class="btn add-content-modal" type="button">
                    {{t "annotation.add content.list prompt"}}
                </button>
            </div>
        {{/unless}}
    {{/if}}
</div>

<div class="comments"></div>
