<div class="window" id="loop">
    <div class="controls stop-fields">
        <label class="checkbox inline">
            <input id="enableLoop" type="checkbox" value="enable"> Loop
        </label>

        <input type="text" class="span2" id="slider" value="0"
                data-slider-orientation="horizontal"
                data-slider-selection="after"
                data-slider-tooltip="show">

        <input id="loop-length"><span>s</span>

        <label id="constrain-annotations" class="checkbox inline"><input type="checkbox"> Constrain annotations to current loop</label>

        <div class="btn-group">
            <a class="btn previous" href="#" title="Move to previous loop"><i class="icon-chevron-left"></i></a>
            <a class="btn next" href="#" title="Move to next loop"><i class="icon-chevron-right"></i></a>
        </div>
    </div>
</div>
