<textarea
    required
    placeholder="{{t "annotate.new.placeholder"}}"
    title="{{t "annotate.new.title"}}"
    rows="3"></textarea>

{{#error}}
<div class="alert alert-error">
    {{t "validation errors.empty"}}
</div>
{{/error}}
