<h1>{{t "print.title" title}}</h1>

{{#if labelRows.length}}
  <h2>{{t "print.categories.header"}}</h2>

  <table>
    <thead>
      <tr>
        <th>{{t "print.categories.table.header"}}</th>
        {{#each categories}}
          <th>{{name}}</th>
        {{/each}}
      </tr>
      <tr>
        <th>{{t "print.categories.table.scales.header"}}</th>
        {{#each categories}}
          <th>{{scale}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each labelRows}}
        <tr>
          <th>{{#if @first}}Labels{{/if}}</th>
          {{#each labels}}
            <td>
              {{abbreviation}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

<h2>{{t "print.annotations.header"}}</h2>

<table>
  <thead>
    <tr>
      <th>{{t "print.annotations.table.user and track.header"}}</th>
      {{#each tracks}}
        <th colspan="2">{{owner}}/{{name}}</th>
      {{/each}}
    </tr>
    <tr>
      <th>{{t "print.annotations.table.timecode.header"}}</th>
      {{#each tracks}}
        <th>{{t "print.annotations.table.codes.header"}}</th>
        <th>{{t "print.annotations.table.annotation and comments.header"}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each annotations}}
      <tr>
        <td>{{timecode}}</td>
        {{#each ../tracks}}
          {{#ifEq id ../track}}
            {{#with ..}}
              <td>{{codes}}</td>
              <td>
                {{#if free}}
                  <h4>{{t "print.annotations.table.annotation and comments.free text.header"}}</h4>
                  <p>
                    {{free}}
                  </p>
                {{/if}}
                {{#each comments}}
                  <h4>{{t "print.annotations.table.annotation and comments.comment by" author=author}}</h4>
                  <p>
                    {{text}}
                  </p>
                {{/each}}
              </td>
            {{/with}}
          {{else}}
            <td></td>
            <td></td>
          {{/ifEq}}
        {{/each}}
      {{/each}}
    </tr>
  </tbody>
</table>
