<div class="window expanded">
    <div id="questionnaire" class="questionnaire-drafts">
        <h5 class="px-2">{{t "questionnaire drafts.heading"}}</h5>
        <nav id="questionnaire-tabs-container"></nav>
        <section id="questionnaire-list-container"></section>
    </div>
</div>