{{#> layout}}
<div class="control-group{{#if validationErrors}} error{{/if}}">
    <label class="control-label">{{item.title}}{{#if item.minItems}} *{{/if}}</label>
    <div class="controls">
        <div class="well">
          {{#each validationErrors as |error|}}
          <span class="help-block"> {{t error}} </span>
          {{/each}}
          <span class="help-block">{{item.description}}</span>
        </div>

        {{#if contentItems}}
        <ul class="questionnaire-content-items">
            {{#each contentItems as |item|}}
            <li>
                <button class="questionnaire-content-item-remove" type="button">
                    <i class="icon-trash"></i>
                </button>
                <span>
                    {{#ifeq item.type "label"}} {{> contentItemLabel}} {{/ifeq}}
                    {{#ifeq item.type "scaling"}} {{> contentItemScaling}} {{/ifeq}}
                </span>
            </li>
            {{/each}}
        </ul>
        {{/if}}

        {{#each categories as |category|}}
            {{> chooser category=category}}
        {{/each}}
    </div>
</div>
{{/layout}}


{{#*inline "chooser"}}
<button class="btn add-labelled-content" type="button" data-category="{{id}}" {{#if settings.color}}style="background-color:{{settings.color}};background-image: none;"{{/if}}>
    {{t "annotation.add content.category"}} {{name}}
</button>
{{/inline}}


{{#* inline "contentItemLabel"}}
{{#with (withLabel value) as |label|}}

<span
    class="content-item-label"
    title="{{label.category.name}} - {{label.value}} ({{label.abbreviation}})"
    {{#if label.category.settings.color}}style="background-color: {{label.category.settings.color}};"{{/if}}>

    <b> {{label.abbreviation}} </b>

</span>

{{/with}}
{{/inline}}


{{#*inline "contentItemScaling"}}
{{#with (withLabel value.label) as |label|}}

<span
    class="content-item-scaling"
    title="{{label.category.name}} - {{label.value}} ({{label.abbreviation}})"
    {{#if label.category.settings.color}}style="background-color: {{label.category.settings.color}};"{{/if}}>

    <b>
        {{label.abbreviation}}
        {{#with (withScaleValue ../value.scaling) as |scaleValue|}}
        <span class="scalevalue"> ({{scaleValue.value}}) </span>
        {{/with}}
    </b>

</span>

{{/with}}
{{/inline}}
