{{#if annotation}}
    <div class="questionnaire-form well" style="">
        <form class="form-horizontal">
            <fieldset>
                <legend>{{t "questionnaire.form prompt"}}</legend>

                <div class="questionnaire-items"></div>

            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{t "common actions.save"}}</button>
                <button type="button" class="btn cancel">{{t "common actions.cancel"}}</button>
            </div>
    </div>
    {{^}}
    <div class="questionnaire-blank-slate well">
        <div>
            <h2>{{t "questionnaire.blank slate.heading"}}</h2>
            <p> {{prompt}} </p>
            <button type="button" class="btn questionnaire-start">
                {{t "questionnaire.blank slate.start"}}
            </button>
        </div>
    </div>
{{/if}}
