      <div class="modal-header">

        <h3>{{title}}
            <span class="manage">
                <select id="scale-id">
                </select>
                <a class="btn edit-scale"><icon class="icon-edit"></i></a>
                <a class="btn create-scale"><icon class="icon-plus-sign"></i></a>
            </span>
        </h3>

      </div>
      <div class="modal-body"></div>

      <div class="modal-footer">
        <a id="cancel-scale" href="#" class="btn">Cancel</a>
        <a id="save-scale" href="#" class="btn btn-primary">Save</a>
      </div>