<div class="modal-header">
    <h3>
        {{title}}
        <span class="manage">
            <select id="scale-id"></select>
            <button type="button" class="btn edit-scale"><i class="icon-edit"></i></button>
            <button type="button" class="btn create-scale"><i class="icon-plus-sign"></i></button>
        </span>
    </h3>
</div>
<div class="modal-body"></div>

<div class="modal-footer">
    <button type="button" id="cancel-scale" class="btn">{{t "scale editor.cancel"}}</button>
    <button id="save-scale" class="btn btn-primary">{{t "scale editor.save"}}</button>
</div>
