<div class="scale-value">
    <a class="btn order-up"><i class="icon-arrow-up"></i></a>
    <a class="btn order-down"><i class="icon-arrow-down"></i></a>
    <input type="text" class="input-small scale-value-name" value="{{name}}" />
    <input type="text" class="input-small scale-value-value" placeholder="{{t "scale editor.values.value.placeholder"}}" value="{{value}}" />
    <a class="btn delete-scale-value"><i class="icon-remove"></i></a>
</div>