<div class="modal" style="display:none;">
  <div class="modal-header">
    <h3>{{t "series category modal.title"}}</h3>
  </div>
  <div class="modal-body">
    {{t "series category modal.warning"}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">{{t "series category modal.cancel"}}</button>
    <button id="confirm-delete" class="btn btn-primary">{{t "series category modal.to video"}}</button>
  </div>
</div>
