<div class="timeline-group{{#if isMine}} mine{{/if}}" data-id="{{id}}">
    <a id="track{{id}}"
       class="content-overlay"
       {{#if isMine}}onclick="annotationsTool.views.timeline.onTrackSelected(event,'{{id}}');" ondblclick="annotationsTool.views.timeline.initTrackUpdate(event,'{{id}}');"{{/if}}
       title="{{name}}"
       rel="popover"
       data-trigger="manual"
       data-content="<p>{{#if description}}{{description}}{{else}}{{t "timeline.no description"}}{{/if}}</p> <p><b>Owner:</b> {{created_by_nickname}}</p>"
       onmouseleave="$('div.popover.fade.right.in').remove();"
       onmouseenter="$(this).popover('show');">
    {{#if isMine}}
        <i class="private icon-user" title="{{t "timeline.track.you own"}}"></i>
    {{/if}}
        <div class="content">
            {{name}}
        </div>
    {{#if isMine}}
        <div class="group-edit">
            <i onclick="annotationsTool.views.timeline.onDeleteTrack(event,'{{id}}');" class="delete icon-trash" title="{{t "timeline.delete track"}}"></i>
            <i onclick="annotationsTool.views.timeline.initTrackUpdate(event,'{{id}}');" class="update icon-pencil" title="{{t "timeline.track modals.button" context="update"}}"></i>
            <span class="visibility"
                  onmouseup="{{#unless (annotationTool "isPrivateOnly")}}$(this).parent().parent().popover('show');{{/unless}}"
                  onmousedown="{{#if (annotationTool "isPrivateOnly")}}
                                      annotationsTool.alertWarning('{{t "timeline.private only.no public tracks allowed"}}');
                              {{else}}
                                      annotationsTool.views.timeline.onUpdateTrack(event,'{{id}}');
                              {{/if}}"
                  title="{{#if (annotationTool "isPrivateOnly")}}{{t "timeline.private only.no public tracks allowed"}}{{else}}{{#if isPublic}}{{t "timeline.change visibility.to private"}}{{else}}{{t "timeline.change visibility.to public"}}{{/if}}{{/if}}">
                    <i class="icon-dark-grey {{#if (annotationTool "isPrivateOnly")}}icon-private{{else}}{{#if isPublic}}icon-public{{else}}icon-private{{/if}}{{/if}}"></i> {{#if (annotationTool "isPrivateOnly")}}{{t "timeline.track.private"}}{{else}}{{#if isPublic}}{{t "timeline.track.public"}}{{else}}{{t "timeline.track.private"}}{{/if}}{{/if}}</span>
        </div>
    {{/if}}
    <span class="toggle-expansion" href="#">Expand/Collapse</span>
    </a>
</div>
