<div
    class="timeline-item timeline-placeholder"
    data-track="{{track}}"
    data-toggle="popover"
    data-trigger="hover"
    data-placement="top"
    title="{{t "timeline.hidden items" count=hiddenItems.length}}"
    data-content="<dl>
        {{#each hiddenItems}}
            {{#with annotation.attributes}}
                <dt>
                    {{time this.start}}{{!
                    }}{{#if this.duration}}{{!
                        }}&ndash;{{!
                        }}{{end this.start this.duration}}{{!
                    }}{{/if}}
                </dt>
            {{/with}}
            <dd>
                {{itemContent}}
            </dd>
        {{/each}}
    </dl>"
>{{t "timeline.hidden items" count=hiddenItems.length}}</div>
