<div class="timeline-group{{#if isMine}} mine{{/if}}" data-id="{{id}}">
    <div
        id="track{{id}}"
        class="content-overlay"
        title="{{name}}"
        data-toggle="popover"
        data-trigger="hover"
        data-content="
            {{#if description}}
                {{description}}
            {{else}}
                {{t "timeline.no description"}}
            {{/if}}
            <br>
            <strong>Owner:</strong> {{created_by_nickname}}
        "
    >
        {{#if isMine}}
            <i class="private icon-user" title="{{t "timeline.track.you own"}}"></i>
        {{/if}}
        <div class="content {{#if empty}}empty{{/if}}">
            {{name}}
        </div>
        {{#unless empty}}
            {{#if isMine}}
                <span>
                    <a class="button delete"><i class="icon-trash" title="{{t "timeline.delete track"}}"></i></a>
                    {{#if isMine}}
                        <a class="button update"><i
                            class="button update icon-pencil"
                            title="{{t "timeline.track modals.button" context="update"}}"
                        ></i></a>
                        <a
                            href="#"
                            data-toggle="tooltip"
                            data-trigger="click"
                            title="
                                <a href='#' data-access='public' class='visibility button'>
                                    <i
                                        class='icon-white icon-public'
                                        title='{{t "timeline.change visibility.to public"}}'
                                    ></i>
                                </a>
                                <a href='#' data-access='private' class='visibility button'>
                                    <i
                                        class='icon-white icon-private'
                                        title='{{t "timeline.change visibility.to private"}}'
                                    ></i>
                                </a>
                                <a href='#' data-access='shared-with-admin' class='visibility button'>
                                    <i
                                        class='icon-white icon-shared-with-admin'
                                        title='{{t "timeline.change visibility.to shared with admin"}}'
                                    ></i>
                                </a>
                            "
                            class="button"
                            data-placement="top"
                        >
                            <i
                                title="
                                    {{#if (annotationTool "isPrivateOnly")}}
                                        {{t "timeline.private only.no public tracks allowed"}}
                                    {{else}}
                                        {{t "timeline.change visibility.tooltip"}}
                                    {{/if}}
                                "
                                class="
                                    icon-dark-grey
                                    {{#if (annotationTool "isPrivateOnly")}}
                                        icon-private
                                    {{else}}
                                        icon-{{access}}
                                    {{/if}}
                                "
                            ></i>
                        </a>
                    {{/if}}
                </span>
            {{/if}}
            <a class="button toggle-expansion"><i
                {{#if expanded}}
                    title="{{t "timeline.track.collapse"}}"
                {{else}}
                    title="{{t "timeline.track.expand"}}"
                {{/if}}
                class="
                    {{#if expanded}}
                        icon-resize-small
                    {{else}}
                        icon-resize-full
                    {{/if}}
                "
            ></i></a>
        {{/unless}}
    </div>
</div>
