{{#* inline "contentItemLabel"}}
{{#with (withLabel value) as |label|}}

<span
    class="content-item-label"
    title="{{label.category.name}} - {{label.value}} ({{label.abbreviation}})"
    {{#if label.category.settings.color}}style="background-color: {{label.category.settings.color}};"{{/if}}>

    <b> {{label.abbreviation}} </b>

</span>

{{/with}}
{{/inline}}

{{#*inline "contentItemScaling"}}
{{#with (withLabel value.label) as |label|}}

<span
    class="content-item-scaling"
    title="{{label.category.name}} - {{label.value}} ({{label.abbreviation}})"
    {{#if label.category.settings.color}}style="background-color: {{label.category.settings.color}};"{{/if}}>

    <b>
        {{label.abbreviation}}
        {{#with (withScaleValue ../value.scaling) as |scaleValue|}}
        <span class="scalevalue"> ({{scaleValue.value}}) </span>
        {{/with}}
    </b>

</span>

{{/with}}
{{/inline}}


{{#*inline "contentItemText"}}
<span class="content-item-text" title="{{value}}">
    <i class="icon-align-left"></i>
</span>
{{/inline}}

{{#*inline "singleContentItemText"}}
<span class="content-item-text"> {{value}} </span>
{{/inline}}

<span title="{{text}}" data-annotationid="{{id}}" data-trackid="{{track}}" style="min-width: 10em;">
    {{!-- show labels and scale values first --}}
    {{#each contentItems as |contentItem|}}
    {{#ifeq contentItem.type "label"}} {{> contentItemLabel}} {{/ifeq}}
    {{#ifeq contentItem.type "scaling"}} {{> contentItemScaling}} {{/ifeq}}
    {{/each}}

    {{!-- annotation contains only a single text item --}}
    {{#ifeq contentItems.length 1}}
    {{#each contentItems as |contentItem|}}
    {{#ifeq contentItem.type "text"}} {{> singleContentItemText}} {{/ifeq}}
    {{/each}}

    {{^}}
    {{!-- otherwise we hide the text as the title of an icon --}}
    {{#each contentItems as |contentItem|}}
    {{#ifeq contentItem.type "text"}} {{> contentItemText}} {{/ifeq}}
    {{/each}}

    {{/ifeq}}

</span>
