<div class="timeline-group">
    <div class="track-id">{{id}}</div>
    <a id="track{{id}}"
       class="content-overlay"
       title="{{name}}"
       rel="popover"
       data-content="<p>{{#if description}}{{description}}{{else}}{{t "timeline.no description"}}{{/if}}</p>"
      >
        <div class="content empty">
            {{name}}
        </div>
    </a>
</div>
