<div class="window" id="timeline-container">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                <span class="time"></span>
            </div>
        </div>
    </div>

    <div id="timeline"></div>

    <div id="timeline-navigation">
        <div class="btn-group" role="group" aria-label="{{t "timeline.track management"}}">
            <button type="button" class="btn opt-tracks-select">{{t "timeline.track management"}}</button>
            <button type="button" id="add-track" class="btn">
                + <span>{{t "timeline.track modals.button" context="add"}}</span>
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="{{t "timeline.navigation"}}">
            <button id="reset-zoom" type="button" class="btn">
                <i class="icon-eye-open"></i> <span>{{t "timeline.reset zoom"}}</span>
            </button>
            <button id="move-left" type="button" class="btn">&lt;</button>
            <button id="zoom-in" type="button" class="btn">+</button>
            <button id="zoom-out" type="button" class="btn">-</button>
            <button id="move-right" type="button" class="btn">></button>
        </div>
    </div>
    <div class="modal" id="modal-add-group" style="display: none;"></div>
    <div class="modal" id="modal-update-group" style="display: none;"></div>
</div>
