<div class="timeline-group{{#if isMine}} mine{{/if}}" data-id="{{id}}">
    <div
        id="track{{id}}"
        class="content-overlay"
        title="{{name}}"
        data-toggle="popover"
        data-trigger="hover"
        data-content="
            {{#if description}}
                {{description}}
            {{else}}
                {{t "timeline.no description"}}
            {{/if}}
            <br>
            <strong>Owner:</strong> {{created_by_nickname}}
        "
    >
        {{#if isMine}}
            <i class="private icon-user" title="{{t "timeline.track.you own"}}"></i>
        {{/if}}
        <div class="content {{#if empty}}empty{{/if}}">
            {{name}}
        </div>
        {{#unless empty}}
            {{#if isMine}}
                <span>
                    <i
                        class="button delete icon-trash"
                        title="{{t "timeline.delete track"}}"
                    ></i>
                    {{#if isMine}}
                        <i
                            class="button update icon-pencil"
                            title="{{t "timeline.track modals.button" context="update"}}"
                        ></i>
                        <i
                            title="
                                {{#if (annotationTool "isPrivateOnly")}}
                                    {{t "timeline.private only.no public tracks allowed"}}
                                {{else}}
                                    {{#if isPublic}}
                                        {{t "timeline.change visibility.to private"}}
                                    {{else}}
                                        {{t "timeline.change visibility.to public"}}
                                    {{/if}}
                                {{/if}}
                            "
                            class="
                                visibility
                                button
                                icon-dark-grey
                                {{#if (annotationTool "isPrivateOnly")}}
                                    icon-private
                                {{else}}
                                    {{#if isPublic}}
                                        icon-public
                                    {{else}}
                                        icon-private
                                    {{/if}}
                                {{/if}}
                            "
                        ></i>
                    {{/if}}
                </span>
            {{/if}}
            <i
                {{#if expanded}}
                    title="{{t "timeline.track.collapse"}}"
                {{else}}
                    title="{{t "timeline.track.expand"}}"
                {{/if}}
                class="
                    toggle-expansion
                    button
                    {{#if expanded}}
                        icon-resize-small
                    {{else}}
                        icon-resize-full
                    {{/if}}
                "
            ></i>
        {{/unless}}
    </div>
</div>
