<div class="modal" id="modal-track-selection">
    <div class="modal-header">
        <h3>{{t "track management.header"}}</h3>
    </div>

    <div class="modal-body">
        {{t "track management.search.hint"}}
        <div class="input-append">
            <input class="span12" type="text" id="search-track" placeholder="{{t "track management.search.placeholder"}}">
            <button id="clear-search" class="btn search-only" type="button">{{t "track management.search.clear"}}</button>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h4>{{t "track management.selection header"}}</h4>
                <ul class="list-group">
                    {{#each users}}
                    <li class="list-group-item user-track-group">
                        <label><input type="checkbox" class="user-checkbox" value="{{this.id}}" {{#if this.visible}}checked{{/if}}> {{this.nickname}}</label>
                        <span class="search-fields">
                            {{#toUpperCase}}
                            {{this.nickname}}
                            {{/toUpperCase}}
                        </span>
                        <ul>
                            {{#each this.tracks}}
                            <li>
                                <label>
                                    <input type="checkbox" class="track-checkbox" value="{{this.id}}" {{#if this.visible}}checked{{/if}}>
                                    {{this.name}}
                                </label>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>

                <label><input id="select-all" type="checkbox" value=""> {{t "track management.(un-)select all"}}</label>
            </div>

            <div class="span6">
                <h4>{{t "track management.ordering header"}}</h4>
                <ul id="track-selection" class="list-group"></ul>
                <button id="move-up"><i class="icon-arrow-up" title="{{t "track management.move up"}}"></i></button>
                <button id="move-down"><i class="icon-arrow-down" title="{{t "track management.move down"}}"></i></button>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="cancel-selection" class="btn">{{t "track management.cancel"}}</a>
        <button id="confirm-selection" class="btn btn-primary">{{t "track management.ok"}}</a>
    </div>
</div>
